In [1]:
import pandas as pd
import numpy as np

In [2]:
path1=str(input("Enter the Path of file \n"))

Enter the Path of file
C:\Users\abhij\Attendance.xlsx

In [3]:
df=pd.read_excel(path1)

In [4]:
df.head()

,Timestamp,Email Address,Name of the Student,Roll of the Student,Number (Associated with Roll),Date Attended Class,Subject Name,Your Feedback,WhatsApp Number
0,2020-09-28 16:10:31.520,subhadipkarmakar104@gmail.com,subhadipkarmakar,20,20,2020-09-28,Electrical,Hi,NaN
1,2020-09-28 16:20:47.620,debashismondal2k@gmail.com,DEBASHIS MONDAL,10021971,NaN,2020-09-28,BASIS ELECTRONIC,NaN,NaN
2,2020-09-28 16:44:03.748,sayanpatra2001@gmail.com,Sayan patra,10021993,10021993,2020-09-28,Basic electronics,NaN,NaN
3,2020-09-28 16:45:53.970,sougataroy1451@gmail.com,Sougata Roy,10021997,NaN,2020-09-28,Basic Electronics,NaN,NaN
4,2020-09-28 16:47:40.752,sayansatpathy2003@gmail.com,Sayan satpathy,10021994,NaN,2020-09-28,Basic electronics,Good,NaN

In [5]:
df.drop_duplicates(['Name of the Student', 'Date Attended Class '],inplace=True)

In [6]:
df.head()

,Timestamp,Email Address,Name of the Student,Roll of the Student,Number (Associated with Roll),Date Attended Class,Subject Name,Your Feedback,WhatsApp Number
0,2020-09-28 16:10:31.520,subhadipkarmakar104@gmail.com,subhadipkarmakar,20,20,2020-09-28,Electrical,Hi,NaN
1,2020-09-28 16:20:47.620,debashismondal2k@gmail.com,DEBASHIS MONDAL,10021971,NaN,2020-09-28,BASIS ELECTRONIC,NaN,NaN
2,2020-09-28 16:44:03.748,sayanpatra2001@gmail.com,Sayan patra,10021993,10021993,2020-09-28,Basic electronics,NaN,NaN
3,2020-09-28 16:45:53.970,sougataroy1451@gmail.com,Sougata Roy,10021997,NaN,2020-09-28,Basic Electronics,NaN,NaN
4,2020-09-28 16:47:40.752,sayansatpathy2003@gmail.com,Sayan satpathy,10021994,NaN,2020-09-28,Basic electronics,Good,NaN

In [7]:
Total=(df['Date Attended Class '].value_counts()>1).to_list().count(True)

In [8]:
Total

13

In [9]:
print("Choose your Number system")
Marks=[[10,9,8,7,6],[9,8,7,6],[10, 8, 6]]
print(f"1: {Marks[0]} \n2: {Marks[1]}\n3: {Marks[2]} ")
choice=int(input("Enter your Marking option here \n"))

Choose your Number system
1: [10, 9, 8, 7, 6]
2: [9, 8, 7, 6]
3: [10, 8, 6]
Enter your Marking option here
2

In [10]:
AttendancePercentage=(df['Name of the Student'].value_counts()/Total)*100

In [11]:
#df1=pd.DataFrame(AttendancePercentage)

In [12]:
AttendancePercentage.tolist()

[92.3076923076923,
 92.3076923076923,
 84.61538461538461,
 84.61538461538461,
 84.61538461538461,
 76.92307692307693,
 69.23076923076923,
 69.23076923076923,
 69.23076923076923,
 69.23076923076923,
 61.53846153846154,
 61.53846153846154,
 61.53846153846154,
 53.84615384615385,
 46.15384615384615,
 46.15384615384615,
 46.15384615384615,
 46.15384615384615,
 38.46153846153847,
 38.46153846153847,
 38.46153846153847,
 30.76923076923077,
 30.76923076923077,
 30.76923076923077,
 30.76923076923077,
 30.76923076923077,
 23.076923076923077,
 23.076923076923077,
 23.076923076923077,
 23.076923076923077,
 23.076923076923077,
 23.076923076923077,
 23.076923076923077,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 15.384615384615385,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925,
 7.6923076923076925]

In [13]:
AttendancePercentage.index

Index(['Tiyasa Paul', 'Milan Kumar Bag ', 'Sayan patra', 'Sudip jana',
       'Surjyakanta Senapati ', 'Sougata Roy', 'Rupak Das', 'Kamaldip Bhakat',
       'Prasenjit Kundu', 'Debgopal Das ', 'Kartik mandal', 'Biswajit pradhan',
       'Subhra Ghosh', 'Sayan satpathy', 'Dayal ghosh', 'Subrata Manna',
       'Subhadip karmakar', 'ARPAN DEY', 'Shubhadeep Dolui', 'Santanu Mondal',
       'Subhadip Karmakar', 'Binay Marik', 'Nayan Singha', 'Janardan Mahata',
       'Koushik patra', 'Debangsu Halder', 'Anirban maity', 'Sukumar mahata',
       'Tuhin das', 'Sayan Satpathy', 'Ujjwal Satvaya', 'Supriya Das',
       'DEBASHIS MONDAL', 'Arup bera', 'Amit adak', 'Saroj Chowdhury',
       'MANGAL TUDU', 'Amit Adak', 'Buddhadev sahoo', 'asim kumar mudi',
       'Biswajit Pradhan', 'Krishnendu Sing', 'Arpan pramanik',
       'Sanjoy Mahakur', 'Kousik pal', 'Susanta Ghosh ', 'Subhra ghosh',
       'saikat malik', 'Kartik mndal', 'DEBASHIS  MONDAL', 'subhadipkarmakar',
       'Aswini kumar chakrabort', 'Sudip Jana ', 'DEBANGSU HALDER', 'Kousik t',
       'Tiyasa paul', 'Buddhadev sahoo (voclet)', 'Tabarak Hossain',
       'Arpan Dey', 'Debgopal Das', 'Debasis Rana ', 'Dayal Ghosh',
       'Arup bera ', 'Sourav mandal', 'Ujjwal satvaya', 'SAROJ CHOWDHURY',
       'Sourav Mandal', 'Arabinda Chattaraj'],
      dtype='object')

In [14]:
#df1.columns

In [15]:
#df1.index

In [16]:
Marks=[]
def one():
    for i in AttendancePercentage.tolist():
        if i>90:
            Marks.append(10)
        elif i>75:
            Marks.append(9)
        elif i>60:
            Marks.append(8)
        elif i>45:
            Marks.append(7)
        else:
            Marks.append(6)
        #else:
           # Marks.append(5)
def two():
    for i in AttendancePercentage.tolist():
        if i>90:
            Marks.append(9)
        elif i>75:
            Marks.append(8)
        elif i>60:
            Marks.append(7)
        else:
            Marks.append(6)
        #elif i>30:
            #Marks.append(6)
        #else:
            #Marks.append(5)
def three():
    for i in AttendancePercentage.tolist():
        if i>90:
            Marks.append(10)
        #elif i>75:
            #Marks.append(9)
        elif i>60:
            Marks.append(8)
        #elif i>45:
            #Marks.append(7)
        else :
            Marks.append(6)
        #else:
            #Marks.append(5)

In [17]:
if choice==1:
    one()
elif choice==2:
    two()
elif choice==3:
    three()
else:
    four()

In [18]:
df2=pd.DataFrame(data={'Name':AttendancePercentage.index,'Percentage':AttendancePercentage.tolist(),'Marks':Marks})

In [20]:
print(df2)

                     Name  Percentage  Marks
0             Tiyasa Paul   92.307692      9
1        Milan Kumar Bag    92.307692      9
2             Sayan patra   84.615385      8
3              Sudip jana   84.615385      8
4   Surjyakanta Senapati    84.615385      8
..                    ...         ...    ...
63          Sourav mandal    7.692308      6
64         Ujjwal satvaya    7.692308      6
65        SAROJ CHOWDHURY    7.692308      6
66          Sourav Mandal    7.692308      6
67     Arabinda Chattaraj    7.692308      6

[68 rows x 3 columns]

In [19]:
path2=str(input("Enter the Path to save final file \n"))

Enter the Path to save final file
C:\Users\abhij\ExeProject\MarksByName.xlsx

In [21]:
df2.to_excel(path2)

In [22]:
reCheck=str(input("Want to check again?"))

Want to check again?no